package page

templ Header(title string) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!-- CSS Framework -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
		<!-- HTMX for taking jobs from JS-devs -->
		<script src="https://unpkg.com/htmx.org@1.9.9"></script>
		<title>{ title }</title>
		{ children... }
	</head>
}
